{% macro render(data) %}
    {# Imports #}
    {% import "@nucleus/_core.twig" as core %}
    {% import "@nucleus/a-anchor.twig" as aAnchor %}
    {% import "@nucleus/a-icon.twig" as aIcon %}

    {# Validation #}
    {% set data = data | validate_data("nucleus/m-footer-social-nav-item", false) %}
    {% if data._validation.hasErrors or data._validation.hasWarnings %}
        {{ core.renderValidationResults(data) }}
    {% endif %}

    {% if not data._validation.hasErrors %}
        {# Logic #}
        {% set data = data | merge_data({
            htmlAttributes: {
                class: "nuc-m-footer-social-nav-item"
            }
        }) %}

        {# Markup #}
        <li {{ render_attributes(data.htmlAttributes, data.styleAttributes, data.extensions) }}>
            {{ aAnchor.render(data.objectAnchor | merge_data({
                component: "nucleus/a-anchor",
                htmlAttributes: {
                    class: "nuc-m-footer-social-nav-item__anchor"
                },
                embedded: [
                    aIcon.render({
                        component: "nucleus/a-icon",
                        htmlAttributes: {
                            class: "nuc-m-footer-social-nav-item__icon"
                        },
                        id: data.icon,
                        size: 32
                    })
                ]
            })) }}
        </li>
    {% endif %}
{% endmacro %}
