{% macro render(data) %}
    {# Imports #}
    {% import "@nucleus/_core.twig" as core %}
    {% import "@nucleus/a-button.twig" as aButton %}
    {% import "@nucleus/a-icon.twig" as aIcon %}

    {# Validation #}
    {% set data = data | validate_data("nucleus/m-theme-slider") %}

    {# Logic #}
    {% set data = data | merge_data({
        htmlAttributes: {
            classList: [
                "nuc-m-theme-slider"
            ],
            "data-aria-message-prev": data.textPrevSlide,
            "data-aria-message-next": data.textNextSlide,
            "data-aria-message-first": data.textFirstSlide,
            "data-aria-message-last": data.textLastSlide
        }
    }) %}

    {# Markup #}
    <div {{ render_attributes(data.htmlAttributes, null, data.extensions) }}>
        <div class="nuc-m-theme-slider__container">
            {{ aButton.render({
                component: "nucleus/a-button",
                htmlAttributes: {
                    class: "nuc-m-theme-slider__button-prev"
                },
                embedded: [
                    aIcon.render({
                        component: "nucleus/a-icon",
                        size: "16",
                        id: "nucleus/left"
                    })
                ]
            }) }}
            <div class="nuc-m-theme-slider__wrapper">
                {% for _sliderItem in data.embedded %}
                    <div class="nuc-m-theme-slider__item nuc-m-theme-slider__item--visible">
                        {{ core.renderComponent(_sliderItem) }}
                    </div>
                {% endfor %}
            </div>
            {{ aButton.render({
                component: "nucleus/a-button",
                htmlAttributes: {
                    class: "nuc-m-theme-slider__button-next"
                },
                embedded: [
                    aIcon.render({
                        component: "nucleus/a-icon",
                        size: "16",
                        id: "nucleus/right"
                    })
                ]
            }) }}
        </div>
    </div>
{% endmacro %}
