conditionalTags:
    # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level3.neon
    PHPStan\Rules\Generators\YieldFromTypeRule:
        phpstan.rules.rule: %featureToggles.yieldRules%
    PHPStan\Rules\Generators\YieldInGeneratorRule:
        phpstan.rules.rule: %featureToggles.yieldRules%
    PHPStan\Rules\Generators\YieldTypeRule:
        phpstan.rules.rule: %featureToggles.yieldRules%

    # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level4.neon
    PHPStan\Rules\DeadCode\NoopRule:
        phpstan.rules.rule: %featureToggles.noopRule%

    PHPStan\Rules\DeadCode\UnreachableStatementRule:
        phpstan.rules.rule: %featureToggles.unreachableStatement%

    PHPStan\Rules\Exceptions\DeadCatchRule:
       phpstan.rules.rule: %featureToggles.deadCatchesRule%

includes:
    - phar://../tools/phpstan.phar/conf/config.level2.neon

parameters:
    featureToggles:
        # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level3.neon
        yieldRules: false

        # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level4.neon
        deadCatchesRule: false
        noopRule: false
        unreachableStatement: false

    # https://github.com/phpstan/phpstan-strict-rules/blob/0.11/rules.neon
    checkFunctionNameCase: true

rules:
    # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level3.neon
    - PHPStan\Rules\Arrays\AppendedArrayItemTypeRule
    - PHPStan\Rules\Arrays\IterableInForeachRule
    - PHPStan\Rules\Arrays\OffsetAccessAssignmentRule
    - PHPStan\Rules\Arrays\OffsetAccessAssignOpRule
    - PHPStan\Rules\Functions\ClosureReturnTypeRule
    - PHPStan\Rules\Functions\ReturnTypeRule
    - PHPStan\Rules\Properties\DefaultValueTypesAssignedToPropertiesRule
    - PHPStan\Rules\Variables\ThrowTypeRule
    - PHPStan\Rules\Variables\VariableCloningRule

    # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level4.neon
    - PHPStan\Rules\Arrays\DeadForeachRule
    - PHPStan\Rules\Comparison\BooleanAndConstantConditionRule
    - PHPStan\Rules\Comparison\BooleanNotConstantConditionRule
    - PHPStan\Rules\Comparison\BooleanOrConstantConditionRule
    - PHPStan\Rules\Comparison\ElseIfConstantConditionRule
    - PHPStan\Rules\Comparison\IfConstantConditionRule
    - PHPStan\Rules\Comparison\TernaryOperatorConstantConditionRule
    - PHPStan\Rules\Comparison\UnreachableIfBranchesRule
    - PHPStan\Rules\Comparison\UnreachableTernaryElseBranchRule
    - PHPStan\Rules\DeadCode\NoopRule
    - PHPStan\Rules\DeadCode\UnreachableStatementRule

    # https://github.com/phpstan/phpstan-strict-rules/blob/0.11/rules.neon
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanAndRule
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
    - PHPStan\Rules\BooleansInConditions\BooleanInBooleanOrRule
    - PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
    - PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
    - PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule
    - PHPStan\Rules\Cast\UselessCastRule
    - PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
    - PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
    - PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
    - PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
    - PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
    - PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
    - PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
    - PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
    - PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
    - PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
    - PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
    - PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
    - PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
    - PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
    - PHPStan\Rules\VariableVariables\VariableVariablesRule

services:
    # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level3.neon
    -
        class: PHPStan\Rules\Arrays\AppendedArrayKeyTypeRule
        arguments:
            checkUnionTypes: %checkUnionTypes%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Arrays\InvalidKeyInArrayDimFetchRule
        arguments:
            reportMaybes: %reportMaybes%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Arrays\InvalidKeyInArrayItemRule
        arguments:
            reportMaybes: %reportMaybes%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Arrays\NonexistentOffsetInArrayDimFetchRule
        arguments:
            reportMaybes: %reportMaybes%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Generators\YieldFromTypeRule
        arguments:
            reportMaybes: %reportMaybes%

    -
        class: PHPStan\Rules\Generators\YieldInGeneratorRule
        arguments:
            reportMaybes: %reportMaybes%

    -
        class: PHPStan\Rules\Generators\YieldTypeRule

    -
        class: PHPStan\Rules\Methods\MethodSignatureRule
        arguments:
            reportMaybes: %reportMaybesInMethodSignatures%
            reportStatic: %reportStaticMethodSignatures%
        tags:
            - phpstan.rules.rule

    # https://github.com/phpstan/phpstan/blob/0.11.5/conf/config.level4.neon
    -
        class: PHPStan\Rules\Classes\ImpossibleInstanceOfRule
        arguments:
            checkAlwaysTrueInstanceof: %checkAlwaysTrueInstanceof%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Comparison\ImpossibleCheckTypeFunctionCallRule
        arguments:
            checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Comparison\ImpossibleCheckTypeMethodCallRule
        arguments:
            checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\Comparison\ImpossibleCheckTypeStaticMethodCallRule
        arguments:
            checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
        tags:
            - phpstan.rules.rule

    -
        class: PHPStan\Rules\DeadCode\NoopRule

    -
        class: PHPStan\Rules\Exceptions\DeadCatchRule

    # https://github.com/phpstan/phpstan-strict-rules/blob/0.11/rules.neon
    -
        class: PHPStan\Rules\BooleansInConditions\BooleanRuleHelper

    -
        class: PHPStan\Rules\Operators\OperatorRuleHelper
